<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme143_advertise1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,97},{93,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,218}}</string>
                <key>sourceSize</key>
                <string>{93,218}</string>
            </dict>
            <key>theme143_advertise2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,2},{93,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,218}}</string>
                <key>sourceSize</key>
                <string>{93,218}</string>
            </dict>
            <key>theme143_collect_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,410},{156,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,55}}</string>
                <key>sourceSize</key>
                <string>{156,55}</string>
            </dict>
            <key>theme143_collect_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,879},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>theme143_collect_coins_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,943},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>theme143_collect_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,443},{690,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{690,64}}</string>
                <key>sourceSize</key>
                <string>{690,64}</string>
            </dict>
            <key>theme143_collect_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,566},{690,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{690,12}}</string>
                <key>sourceSize</key>
                <string>{690,12}</string>
            </dict>
            <key>theme143_collect_light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,983},{25,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,374}}</string>
                <key>sourceSize</key>
                <string>{25,374}</string>
            </dict>
            <key>theme143_collect_light_dim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,509},{690,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{690,55}}</string>
                <key>sourceSize</key>
                <string>{690,55}</string>
            </dict>
            <key>theme143_collect_light_dim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,580},{690,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{690,3}}</string>
                <key>sourceSize</key>
                <string>{690,3}</string>
            </dict>
            <key>theme143_collect_light_dim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,980},{21,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,363}}</string>
                <key>sourceSize</key>
                <string>{21,363}</string>
            </dict>
            <key>theme143_collect_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,585},{176,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,98}}</string>
                <key>sourceSize</key>
                <string>{176,98}</string>
            </dict>
            <key>theme143_collect_tip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,949},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>theme143_collect_tip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,261},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>theme143_collect_tip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,997},{355,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,18}}</string>
                <key>sourceSize</key>
                <string>{355,18}</string>
            </dict>
            <key>theme143_collect_tip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,977},{389,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,18}}</string>
                <key>sourceSize</key>
                <string>{389,18}</string>
            </dict>
            <key>theme143_ear_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,597},{26,67}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{26,67}}</string>
                <key>sourceSize</key>
                <string>{30,69}</string>
            </dict>
            <key>theme143_ear_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,946},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>theme143_free_count_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,865},{433,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,110}}</string>
                <key>sourceSize</key>
                <string>{433,110}</string>
            </dict>
            <key>theme143_free_message_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,892},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>theme143_free_message_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,597},{79,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,34}}</string>
                <key>sourceSize</key>
                <string>{79,34}</string>
            </dict>
            <key>theme143_free_message_text10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,892},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>theme143_free_message_text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,685},{205,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,35}}</string>
                <key>sourceSize</key>
                <string>{205,35}</string>
            </dict>
            <key>theme143_free_message_text3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,410},{185,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,35}}</string>
                <key>sourceSize</key>
                <string>{185,35}</string>
            </dict>
            <key>theme143_free_message_text4.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,946},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>theme143_free_message_text5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,726},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>theme143_free_message_text6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,949},{50,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,43}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>theme143_free_message_text7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,678},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>theme143_free_message_text8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,774},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>theme143_free_message_text9.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,698},{591,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,51}}</string>
                <key>sourceSize</key>
                <string>{591,51}</string>
            </dict>
            <key>theme143_free_win_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,946},{276,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,35}}</string>
                <key>sourceSize</key>
                <string>{276,35}</string>
            </dict>
            <key>theme143_jp_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,585},{549,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,111}}</string>
                <key>sourceSize</key>
                <string>{549,111}</string>
            </dict>
            <key>theme143_jp_frame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{488,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,106}}</string>
                <key>sourceSize</key>
                <string>{488,106}</string>
            </dict>
            <key>theme143_jp_frame3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,751},{217,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,67}}</string>
                <key>sourceSize</key>
                <string>{217,67}</string>
            </dict>
            <key>theme143_jp_frame4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,192},{217,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,67}}</string>
                <key>sourceSize</key>
                <string>{217,67}</string>
            </dict>
            <key>theme143_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{465,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,281}}</string>
                <key>sourceSize</key>
                <string>{465,281}</string>
            </dict>
            <key>theme143_reel_bg100.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{581,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,286}}</string>
                <key>sourceSize</key>
                <string>{581,286}</string>
            </dict>
            <key>theme143_reel_bg33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,685},{192,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,88}}</string>
                <key>sourceSize</key>
                <string>{192,88}</string>
            </dict>
            <key>theme143_reel_bg50.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,751},{291,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,134}}</string>
                <key>sourceSize</key>
                <string>{291,134}</string>
            </dict>
            <key>theme143_symbol_test.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,865},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>theme143_wheel_text_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,261},{145,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,147}}</string>
                <key>sourceSize</key>
                <string>{145,147}</string>
            </dict>
            <key>theme143_wheel_wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{470,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,470}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>theme143_wheel_wheel_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,751},{227,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,245}}</string>
                <key>sourceSize</key>
                <string>{227,245}</string>
            </dict>
            <key>theme143_wheel_win_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,290},{640,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,151}}</string>
                <key>sourceSize</key>
                <string>{640,151}</string>
            </dict>
            <key>theme143_wheel_win_frame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,887},{324,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,57}}</string>
                <key>sourceSize</key>
                <string>{324,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{1277,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c823e5457c0f68edfc2d0693a04c574:1/1$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
