<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme143_popup_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,389},{422,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,103}}</string>
                <key>sourceSize</key>
                <string>{422,103}</string>
            </dict>
            <key>theme143_popup_bg10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,603},{55,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,129}}</string>
                <key>sourceSize</key>
                <string>{55,129}</string>
            </dict>
            <key>theme143_popup_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,732},{422,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,103}}</string>
                <key>sourceSize</key>
                <string>{422,103}</string>
            </dict>
            <key>theme143_popup_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,586},{119,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,93}}</string>
                <key>sourceSize</key>
                <string>{119,93}</string>
            </dict>
            <key>theme143_popup_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,734},{43,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,127}}</string>
                <key>sourceSize</key>
                <string>{43,127}</string>
            </dict>
            <key>theme143_popup_bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,727},{114,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,93}}</string>
                <key>sourceSize</key>
                <string>{114,93}</string>
            </dict>
            <key>theme143_popup_bg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,2},{522,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,354}}</string>
                <key>sourceSize</key>
                <string>{522,354}</string>
            </dict>
            <key>theme143_popup_bg7.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{599,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{599,372}}</string>
                <key>sourceSize</key>
                <string>{599,372}</string>
            </dict>
            <key>theme143_popup_bg8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{599,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{599,479}}</string>
                <key>sourceSize</key>
                <string>{599,479}</string>
            </dict>
            <key>theme143_popup_bg9.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{522,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,466}}</string>
                <key>sourceSize</key>
                <string>{522,466}</string>
            </dict>
            <key>theme143_popup_btn_collect1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,389},{336,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,127}}</string>
                <key>sourceSize</key>
                <string>{336,127}</string>
            </dict>
            <key>theme143_popup_btn_collect1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,655},{336,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,127}}</string>
                <key>sourceSize</key>
                <string>{336,127}</string>
            </dict>
            <key>theme143_popup_btn_collect2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,260},{336,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,127}}</string>
                <key>sourceSize</key>
                <string>{336,127}</string>
            </dict>
            <key>theme143_popup_btn_collect2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,131},{336,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,127}}</string>
                <key>sourceSize</key>
                <string>{336,127}</string>
            </dict>
            <key>theme143_popup_btn_start1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,2},{336,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,127}}</string>
                <key>sourceSize</key>
                <string>{336,127}</string>
            </dict>
            <key>theme143_popup_btn_start1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,526},{336,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,127}}</string>
                <key>sourceSize</key>
                <string>{336,127}</string>
            </dict>
            <key>theme143_popup_btn_start2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,603},{336,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,127}}</string>
                <key>sourceSize</key>
                <string>{336,127}</string>
            </dict>
            <key>theme143_popup_btn_start2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,603},{336,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,127}}</string>
                <key>sourceSize</key>
                <string>{336,127}</string>
            </dict>
            <key>theme143_popup_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,790},{127,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,48}}</string>
                <key>sourceSize</key>
                <string>{127,48}</string>
            </dict>
            <key>theme143_popup_text10.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,779},{356,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,63}}</string>
                <key>sourceSize</key>
                <string>{356,63}</string>
            </dict>
            <key>theme143_popup_text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,526},{122,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,58}}</string>
                <key>sourceSize</key>
                <string>{122,58}</string>
            </dict>
            <key>theme143_popup_text3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,603},{215,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,50}}</string>
                <key>sourceSize</key>
                <string>{215,50}</string>
            </dict>
            <key>theme143_popup_text4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,603},{185,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,50}}</string>
                <key>sourceSize</key>
                <string>{185,50}</string>
            </dict>
            <key>theme143_popup_text6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,389},{455,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,60}}</string>
                <key>sourceSize</key>
                <string>{455,60}</string>
            </dict>
            <key>theme143_popup_text6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,389},{411,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,60}}</string>
                <key>sourceSize</key>
                <string>{411,60}</string>
            </dict>
            <key>theme143_popup_text7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,784},{323,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,58}}</string>
                <key>sourceSize</key>
                <string>{323,58}</string>
            </dict>
            <key>theme143_popup_text7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,526},{316,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,58}}</string>
                <key>sourceSize</key>
                <string>{316,58}</string>
            </dict>
            <key>theme143_popup_text7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,526},{315,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,58}}</string>
                <key>sourceSize</key>
                <string>{315,58}</string>
            </dict>
            <key>theme143_popup_text7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{219,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,56}}</string>
                <key>sourceSize</key>
                <string>{219,56}</string>
            </dict>
            <key>theme143_popup_text8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,526},{263,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,56}}</string>
                <key>sourceSize</key>
                <string>{263,56}</string>
            </dict>
            <key>theme143_popup_text9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,526},{285,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,97}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>popup.png</string>
            <key>size</key>
            <string>{2040,846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22e7471c666b845efaed78314096a83f:1/1$</string>
            <key>textureFileName</key>
            <string>popup.png</string>
        </dict>
    </dict>
</plist>
